html .ar{
    & .header--market-place-2 .header__top , & .ps-section__header , & .ps-footer__widgets , & .ps-footer__links ,& .menu.menu--market-2 ,  & .header--market-place-2 .header__content {
        direction: rtl;
    }
    & .header--standard .header__top .header__right {
        text-align: left !important;
    }
    
    & .header--standard .header__content-left {
        padding-left:0 !important;
        padding-right:30px !important;
    }

    & .ps-form--quick-search button {
        border-radius:  4px 0 0 4px !important;
    }

    & .ps-block--user-header .ps-block__right {
        padding-right: 0!important;
        padding-left: 10px!important;
    }

    & .header__content-right .ps-block--user-header .ps-block__right{
        padding-left: 0 !important;
        padding-right: 10px !important;
    }

    & #homepage-4 .ps-home-banner .container .ps-section__left{
        padding-right: 0 !important;
    }

    & .menu.menu--market-2 ,& .widget.widget_footer.widget_contact-us , & .ps-footer__links{
        text-align: right;
    }

    & .ps-block--countdown-deal .ps-block__left h3 {
        margin-left: 70px;
        margin-right: 0 !important;
    }
    & .ps-block--countdown-deal figure figcaption{
        margin-right: 0 !important;
        margin-left: 20px;
    }

    & .ps-product__vendor , & .ps-product__title , & .ps-product__price , & .ps-product__rating{
        text-align: right;
    }
    & .ps-product .ps-product__title {
        padding-right: 0 !important;
        padding-left: 1rem;
    }

    
    & .ps-product .ps-product__badge{
        right: auto !important;
        left: 0 !important;
    }

    & .ps-form--quick-search .ps-form__categories select.form-control{
        padding-left: 30px;
        padding-right: 0!important;
        border-radius: 0 4px 4px 0 !important;

    }
    & .ps-form--quick-search .ps-form__categories::after {
        right: 0 !important;
        left: 8px;
    }
    & .menu-item-has-children:hover ul.sub-menu{
        right: 100%!important;
        left: auto!important;
    }
}